@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

@layer base{
  * {
    text-align: center;
    font-family: 'Poppins', cursive;
  }

  html {
    background-color: #d1fae5;
  }

  .animation {
      @apply transition-all duration-300 ease-in-out
  }

  .nav-item {
    @apply cursor-pointer hover:text-greenery-900 animation
  }

  .nav-active {
    @apply text-greenery-900 underline underline-offset-8 decoration-2
  }

  .mobile-nav-active {
    @apply text-greenery-900 
  }

  .arrow-animation {
    @apply rotate-180
  }
}